<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="../static/js/path.js"/>-->
    <!--<script type="text/javascript" src="/js/update.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">D</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="#"><a href="/">Home</a></li>
            <li class="#"><a href="/update">Update</a></li>
            <li class="#"><a href="/delete">Delete</a></li>
            <li class="active"><a href="/addNode">Add</a></li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="text-center">
        <h1>Add planets/routes</h1>
        <br/><br/>
    </div>
    <h1>Select route</h1>
    <div class="row centerItems">
        <div class="col-lg-3">
            Source:
            <select id="Source">
                <option th:each="v : ${vertexList}" th:value="${v.node}" th:text="${v.planetName}">
                </option>
            </select>
        </div>
        <div class="col-lg-3">
            Destination:
            <select id="newDestination">
                <option th:each="v : ${vertexList}" th:value="${v.node}" th:text="${v.planetName}">
                </option>
            </select>
        </div>
        <div class="col-lg-4">
            <form>
                Distance:
                <input type="text" name="firstname" id="distance">
                </input>
            </form>
        </div>
        <button class="btn btn-success optionButtons" type="button" onclick="addRoute()" data-toggle="modal"
                data-target="#myModal">Submit new Route
        </button>
    </div>

    <br/><br/><br/><br/>
    <div class="row centerItems">
        <h1>Add new planet</h1>
        <div class="col-lg-10">
            <form>
                New Planet Name:
                <input type="text" name="firstname" id="changedName">
                </input>
            </form>
        </div>
        <button class="btn btn-success optionButtons" type="button" onclick="addPlanet()" data-toggle="modal"
                data-target="#myModal">Submit new Planet
        </button>
    </div>
    <!-- Modal -->
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Complete</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add successful. Thank you</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                onclick="window.location.href='/'">Close
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function addPlanet() {
        var newPlanetName = document.getElementById('changedName').value;
        $.get('/addVertex/' + newPlanetName);
    }
    function addRoute() {
        var destination = document.getElementById('newDestination').value;
        var root = document.getElementById('Source').value;
        var distance = document.getElementById('distance').value;
        var vertexAdded = root + "," + destination + "," + distance;
        $.get('/addEdge/' + vertexAdded);
    }

</script>


</body>
</html>