<html
        lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="../static/js/path.js"/>-->
    <script type="text/javascript" src="/js/path.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/js/css/index.css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">D</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="#"><a href="/update">Update</a></li>
            <li class="#"><a href="/delete">Delete</a></li>
            <li class="#"><a href="/addNode">Add</a></li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="text-center">

        <h1>Planet Routes</h1>
        <br/><br/>

    </div>
    <div class="row centerItems">
        <div class="col-lg-5">
            <h1>Source: </h1>
            <h4 th:text="${sourcePlanet}"></h4>
        </div>
        <div class="col-lg-5">
            <h1>Destination</h1>
            <select id="selectedDestination">
                <option th:each="v : ${vertexList}" th:value="${v.node}" th:text="${v.planetName}">
                </option>
            </select>
        </div>
        <button class="btn btn-success optionButtons" type="button" onclick="selectPath()">Submit (No delay)</button>
        <br/><br/>
        <button class="btn btn-success optionButtons" type="button" onclick="selectPathWithDelay()">Submit (Delay)
        </button>
    </div>


    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="responseModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center"></h4>
                    </div>
                    <div class="modal-body text-center">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

