<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="../static/js/path.js"/>-->
    <script type="text/javascript" src="/js/update.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">D</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="#"><a href="/">Home</a></li>
            <li class="active"><a href="/update">Update</a></li>
            <li class="#"><a href="/delete">Delete</a></li>
            <li class="#"><a href="/addNode">Add</a></li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="text-center">

        <br/><br/>

        <div id="heading">Planet Routes</div>
        <br/><br/>
        <div class="row centerItems">
            <div class="col-lg-10">
                <h1>Update Planet</h1>
                <select id="newDestination">
                    <option th:each="v : ${vertexList}" th:value="${v.node}" th:text="${v.planetName}">
                    </option>
                </select>
                <form>
                    New Planet Name:
                    <input type="text" required="" name="firstname" id="changedName">
                    </input>
                </form>
                <br/>
                <button class="btn btn-success optionButtons" type="button" onclick="updatePlanet()" data-toggle="modal"
                        data-target="#myModal">Submit Planet
                </button>
            </div>
            <!--<div class="col-lg-2">-->

            <!--</div>-->
        </div>
        <br/><br/>
        <div class="row centerItems">
            <h1>Selected route to alter</h1>
            <select id="selectedRoute">
                <option th:each="r,iterationStatus  : ${edgeList}" th:value="${iterationStatus.count}">
                    <td th:text="${r.source}">001</td>
                    <td th:text="${r.destination}">001</td>
                    <td th:text="${r.distance}">001</td>
                </option>
            </select>

            <form>
                Source:
                <input type="text" required="" name="firstname" id="source">
                </input>
                Destination:
                <input type="text" required="" name="firstname" id="destination">
                </input>
                Distance:
                <input type="text" required="" name="firstname" id="distance">
                </input>
            </form>
        </div>
        <br/><br/>


        <button class="btn btn-success optionButtons" type="button" onclick="updateRoute()" data-toggle="modal"
                data-target="#myModal">Submit Route
        </button>
        <!-- Modal -->
        <div class="container">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Complete</h4>
                        </div>
                        <div class="modal-body">
                            <p>Your planet name has been changed</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    onclick="window.location.href='/'">Close
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <p>Click the button to update planet</p>

    </div>
</div>

<script>
    function updatePlanet() {
        var destination = document.getElementById('newDestination').value;
        var newPlanetName = document.getElementById('changedName').value;
        var vertexUpdate = destination + "," + newPlanetName;
        $.get('/updateVertex/' + vertexUpdate);
    }
    function updateRoute() {
        var routeId = document.getElementById('selectedRoute').value;
        var source = document.getElementById('source').value;
        var destination = document.getElementById('destination').value;
        var distance = document.getElementById('distance').value;
        var routeUpdate = routeId + "," + source + "," + destination + "," + distance;
        $.get('/updateRoute/' + routeUpdate);
    }
</script>


</body>
</html>